<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhixingege.common.dao.JobDao">
    <insert id="insertJob" parameterType="Job" useGeneratedKeys="true" keyProperty="jobId">
        insert into job(jobName,affiliatedCompanyId,affiliatedCompanyName,fatherJobId,jobArea,mainBusiness,jobRequire,updateDate,url)
        value (#{jobName},#{affiliatedCompanyId},#{affiliatedCompanyName},#{fatherJobId},#{jobArea},#{mainBusiness},#{jobRequire},#{updateDate},#{url})
    </insert>
    <insert id="insertJobList" parameterType="java.util.List">
        insert into job(jobName,affiliatedCompanyId,affiliatedCompanyName,fatherJobId,jobArea,mainBusiness,jobRequire,updateDate,url)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.jobName},#{item.affiliatedCompanyId},#{item.affiliatedCompanyName},#{item.fatherJobId},#{item.jobArea},#{item.mainBusiness},#{item.jobRequire},#{item.updateDate},#{item.url})
        </foreach>
    </insert>
    <delete id="deleteJobByCompanyId" >
        delete from job
        where affiliatedCompanyId=#{CompanyId}
    </delete>
    <select id="getJobListByCompanyId" resultType="Job">
        select *
        from job
        where affiliatedCompanyId=#{CompanyId}
    </select>
</mapper>